*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html, body{
    height: 100vh;
}

body{
    background-color: rgb(163, 2, 2);
    font-family: Roboto, Arial, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
}

form{
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
}

form .input-block{
    margin-bottom: 20px;
}

form .input-block label{
    font-size: 14px;
    color: darkred;
}

form .input-block input{
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: darkslategray;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: rgb(163, 2, 2);
}

form .btn-login{
    display: block;
    min-width: 120px;
    border: none;
    outline: none;
    background-color: rgb(163, 2, 2);
    border-radius: 25px;
    color: white;
    margin: auto;
    padding: 7px 50px;
}

/* ANIMATION */

form{
    overflow: hidden;
    animation-name: fade;
    animation-duration: 300ms;
}

form .input-block:nth-child(1){
    animation-name: move;
    animation-duration: 500ms;
    /* animation-delay: 250ms; */
}

form .input-block:nth-child(2){
    animation-name: move;
    animation-duration: 400ms;
    animation-delay: 150ms;
    animation-fill-mode: backwards;
} 

form .btn-login{
    animation-name: move;
    animation-duration: 400ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: scale(0.8);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move{
    from{
        opacity: 0;
        transform: translateX(-35%);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* sumir com o form, clicando no button */ 

.form-hide{
    animation-name: movedown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

}

@keyframes movedown{
    from{
        transform: translateY(0)
    }to{
        transform: translateY(100vh)
    }
}